<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DevelopWriterDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88AA24A51C465AF0001B629F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA24BE1C465AF0001B629F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA24C91C465AF0001B629F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
